@media screen and (min-width:480px) {
.about-us-section__list {
  width: 450px;
  height: 120px;
  left: 15px;
  top: 520px;
}

.about-us-section__icon {
  width: 70px;
  height: 70px;
}

.about-us-section__div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.about-us-section__title{
  text-align: center;
  margin-bottom: 10px;
}

.about-us-section__description {
  color: #757575;
}

.about-us-section__item {
  margin-top: 30px;
  width: 450px;
}

.our-work-section {
  display: none;
}

}


@media screen and (min-width:768px) {
  .about-us-section__list {
    width: 450px;
    height: 120px;
    left: 15px;
    top: 520px;
  }

  .about-us-section__div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 1200px) {
  .about-us-section {
    padding-top: 94px;
  }
  
  .about-us-section__list {
    display: flex;
    margin-top: -30px;
  }
  
  .about-us-section__item {
    margin-top: 30px;
    width: 270px;

      &:not(:first-child) {
        margin-left: 30px;
      }
  }
    
  .about-us-section__div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .about-us-section__icon {
    width: 70px;
    height: 70px;
  }
  
  .about-us-section__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  
  .about-us-section__description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-contact);
  } 
}


