.heroes {
    background-color: var(--accent-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .heroes__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    }
  
  .heroes__btn {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 10px 32px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
      &:hover,
      &:focus {
        background-color: #188ce8;
      }
  }
  